input {
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  padding: 0 0 0 10px;
  border-radius: 4px;
  border: 1px solid #b2bec3;
  height: 50px;
  transition: opacity 0.5s;

  &:focus {
    border: 2px solid #636e72;
  }
}

.-disabled {
  opacity: 0.6;
  cursor: no-drop;
}
