.film-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  > .film-header {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay, color-dodge, overlay, overlay, difference, normal;

    > header {
      position: absolute;
      display: flex;

      > a {
        font-size: 25px;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 0.2rem;
        margin-bottom: 0;
        padding: 7.5px 10px;
        border: 3px solid #ffffff;
      }
    }

    > div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      > .header {
        > h2 {
          font-size: 70px;
          line-height: 80px;
          font-weight: bold;
          color: #ffffff;
          margin-bottom: 0;
        }

        > .info {
          display: flex;
          font-size: 25px;
          color: #ffffff;

          > p {
            margin: 0 20px 0 0;
          }
        }

        > .genres {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          color: rgba(0, 0, 0, 0.7);
          margin-top: 15px;

          > p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            margin-bottom: 0;
            background: #ffffff;
            border-radius: 20px;
            padding: 5px 15px;
            margin: 7.5px 7.5px 0 0;
          }
        }
      }
    }
  }

  > .film-detail {
    padding: 50px 100px;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;

    > h1 {
      font-size: 30px;
    }

    > h2 {
      font-size: 24px;
      padding-top: 10px;
    }

    > p {
      font-size: 18px;
      margin-top: 0;
    }

    > div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;

      & p {
        margin: 0;
      }

      & strong {
        font-size: 18px;
      }
    }

    > iframe {
      margin-top: 30px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .film-container {
    > .film-detail {
      padding: 50px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .film-container {
    grid-template-columns: 1fr;

    > .film-header {
      padding: 50px;
    }

    > .film-detail {
      padding: 50px;
      height: 100%;
      overflow-y: hidden;
    }
  }
}

@media screen and (max-width: 720px) {
  .film-container {
    > .film-header {
      padding: 20px;

      > header {
        margin-bottom: 10px;
      }

      > div {
        > .header {
          > h2 {
            font-size: 40px;
            line-height: 50px;
          }

          > p {
            font-size: 20px;
          }

          > div {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }

    > .film-detail {
      padding: 20px;

      > div {
        grid-template-columns: 1fr;
        grid-gap: 5px;
      }
    }
  }
}
